/*color codes for the website


3F4B3B      Feldgrau (dark green)
C3DAC3      Tea Green
E6DBE0      Lavender Blush
EBFAFF      Azure
785964      Rose Taupe
F8F5CEB4      Bone (warm grey)

0E402D            British Racing Green
BBA47D            Khaki
FFFCDE            Light Yellow
D6C2C3            Pale Dogwood (purple)
D0AD9F            Pale Dogwood (red)

*/

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}
table{
    margin-left: auto;
    margin-right: auto;
}
img{
    border-radius: 25px;
    margin: 20px 20px;
}
#aaron-info{
    text-align: left;
}
#kristin-info{
    text-align: right;
}
#darien-info{
    text-align: right;
}
#nav_bar{
    background-color: #BBA47D;
}
#BTDlogo{
    border-radius: 50px;
}
body{
    background-color: #0E402D ;
}
section{
    background-color: #FFFCDE;
    border-radius: 50px;
    margin: 15px 15px;
}
.nav-link{
    background-color: #D0AD9F;
    border-style: outset;
    border-width: 5px;
    margin: 20px 20px;
}
.map-link{
    color: #0E402D;
    text-decoration-line: none;
    background-color: #D0AD9F;
    border-style: outset;
    border-width: 4px;
    border-color: #927a70;
    margin: 20px 20px;
}
.bio-box{
    background-color: #FFFCDE;
    border-radius: 30px;
    margin: 15px 15px;
}